body {
  margin: 0;
  padding: 0;
  font-family: "Expo", sans-serif;
  height: 100vh;
  /* font-family: "Exo", sans-serif; */
  /* font-family: "Exo 2", sans-serif; */
  /* font-family: "Fira Sans", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  background-color: #f9f9f9;
  /* color: #008fa9; */
  /* color: #49ada0; */
  color: #353535;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
}

.avatar-img {
  border: 0px;
  border-radius: 1rem;
}

@media screen and (max-width: 600px) {
}

.side-bar {
  height: 85vh;
  border: 1px solid rgb(201, 200, 200);
  border-radius: 5px;
  padding: 0 1rem;
  width: 20rem;
  margin-left: 2rem;
  position: fixed;
}
